@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pathway Extreme', cursive;
}

body {
    display: flex;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 110vh;
    background-color:#303030;
}

a {
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    margin: 0 20px;
    
}

header {
    display: flex;
    position: relative;
    width: 1100px;
    height: 80px;
    padding: 20px 2%;
    box-sizing: border-box;
    transition: .5s;
    justify-content: space-between;
    z-index: 1000;
    border-radius: 0px 0px 10px 10px;
    background-color: #2C2C2C;  
    
    
}




.Nav_link {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    
    
}

.but_login_desine  {
    height: 50px;
    width: 130px;
    border: 2px solid #18f08b ;
    background-color: transparent;
    border-radius: 10px;
    bottom: 10px;
    position: relative;
    cursor: pointer;
    transition: .5s;
    color: white;
}

.but_login_desine:hover {
    background-color: #04543F;
    border: none;
    color: white;
}

.navbar {
    position: relative;
    text-decoration: none;
    color: #333333;
    font-size: 20px;
    padding: 0 10px;
}

.navbar:before,
.navbar:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #18f08b;
    transition: 0.5s;

}

.navbar:after {
    left: 0;
    bottom: -10px;
}

.navbar:before {
    right: 0;
    top: -10px;
}

.navbar:hover:after,
.navbar:hover:before {
    width: 100%;
}


*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#profile{
    border: 2px solid #18f08b ;
    height: 200px;
    width: 150vh;
    border-radius: 10px;
    background-color: #333333;
    display: flex;  
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
}

#profile p{
    display: block;
    margin-left: 50px;
    text-align: center;
}
.Icon_Profile{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #18f08b ;
    background-color: #2C2C2C;
}

#posts_int{
    display: inline;
}

#comment{
    display: inline;
}

.posts{
    font-size: 10px;
}

.comment{
    font-size: 10px;
}

#icon{
    display: flex;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: white;
    margin-right: 30px;
}
#img_api{
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#title{
    padding: 20px;
    display: flex;
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
}
#content{
  display: block;
  max-width: 100%; /* جعل الصورة تحتل أقل مساحة ممكنة داخل العنصر div */
  height: auto; /* حفظ نسبة العرض إلى الارتفاع للصورة */

}
.content{
    display: block;
    position: relative;
}


#post{
    width: 80%; /* العرض الثابت للعنصر div */
    justify-content: center;
    overflow: hidden; /* تحديد خاصية ال overflow للعنصر div */
    padding: 30px;
    margin-bottom: 30px;
}

#Sec_posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
.container{
    position: relative;
    padding: 30px;

}
.Box_Edit{
    float: right;
    display: flex;
    height:40px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.Box_Edit button{
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}